style.css
h1 {color:blue}
{box-sizing: border box;
padding: 4px 4px 4px 4px
border: 1px solid black
margin: 10px
float: left}
#box1 {background-color: lightgreen}
#box2 {background-color: gray}
#box3 {background-color: lightblue}
